@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  --foreground: #020618;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fira-code: var(--font-fira-code);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020618;
    --foreground: #f8fafc;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: light;
  }

  body {
    font-family: var(--font-fira-code), var(--font-plus-jakarta-sans),
      sans-serif;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
